.otpContainer {
    display: flex;
    flex-direction: column;
}

.otpInput {
    width: 350px;
    height: 35px;
    border-radius: 8px;
    border-color: black;
}

.otpInfoMessage {
    color: orange
}

.generateButton {
    margin: 20px 80px;
    border-radius: 7px;
    height: 35px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background: #0f5323;
    cursor: not-allowed;
}

button:hover {
    background: #1a7f37;
}